h1{
    color: magenta;
    text-align: center;
    text-decoration: double;
  }
  .titulo-principal2{
    color: magenta;
    text-align: center;
    text-decoration: double;
  }
  h2{
    background-color:  #b4918f ;
  }
  .navbar {
      background-color: #007bff;
    }
    
    .navbar-brand,
    .navbar-nav .nav-link {
      color: rosybrown !important; 
    }
    
    
    p {
      color: #6c757d; 
    }
    
    
    a {
      color: #007bff; 
    }
    
    a:hover {
      color: #0056b3; 
    }
    
    
    .container {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    footer {
      background-color: #343a40; 
      color: #ffffff; 
    }
    
    footer p {
      color: #ffffff; 
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    body {
      margin: 0;
      padding: 0;
    }
    
    .collage {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 300px; 
      grid-gap: 10px; 
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .image-container {
      width: 20%;
      height: 20%; 
      overflow: hidden; 
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      flex: 0 0 45%;
      margin-bottom: 20px;
    }
    
    .image-container img {
      width: 100%; 
      height: auto;
      object-fit: cover; 
      border-radius: 10px; 
    }
  
    .text-left {
      text-align: left;
    }
    
    .text-right {
      text-align: right;
    }
    .collage {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .image-container {
      flex: 0 0 45%;
      margin-bottom: 20px;
    }
    
    .image-container img {
      width: 50%;
      height: 100;
    }
    
    .image-container p {
      margin-left: 10px;
    }

.logoig{
    height: 30px;
    width: 50px;
}
my-6{
    text-align: center;
    color: #343a40;
    background-color: #b4918f;
}
.carouselExampleSlidesOnly{
    width: 50px;
    height: auto;
}